@inherits LayoutComponentBase

<header><img id = "headerimg" src="/ciphers.gif"></header>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

