<div class="navbar">
    <NavLink href = "">
        <div class="navlink">HOME</div>
    </NavLink>

    <NavLink href="hill">
        <div class="navlink">HILL</div>
    </NavLink>

</div>



<!----<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hill">
                <span></span> Hill
            </NavLink>
        </div>

    </nav>
</div>-->

