<div class="navbar">
    <NavLink href = "">
        <div class="navlink">HOME</div>
    </NavLink>

    <NavLink href="ciphers">
        <div class="navlink">CIPHERS</div>
    </NavLink>

    <NavLink href="cryptanalysis">
        <div class="navlink">CRYPTANALYSIS</div>
    </NavLink>

    <NavLink href="">
        <div class="navlink">PRACTICE</div>
    </NavLink>

    <NavLink href="">
        <div class="navlink">TESTING</div>
    </NavLink>
</div>
