#headerimg {
    width: 75%;
    display: block;
    margin: auto;
}

#blinkie {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    display: block;
    width: 150px;
    height: 20px;
}

header {
    background-color: #013368;
}

h1 {
    text-align: center;
    color: white;
    font-size: xx-large;
}

main {
    font-family: 'Comic Sans MS';
    background-color: #013368;
    color: white;
    padding: 2%;
}

.box {
    border: solid white;
    padding: 1%;
    margin: 0.5%;
}

.page{
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

.navlink {
    display: block;
    padding: 5%;
    margin: 5%;
    margin-bottom: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    border: dashed;
}

.navlink:hover {
    background-color: white;
    color: black;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}

.stat { 
    width: 32%;
}

.graph {
    width: 65%;
}

.choices{
    min-height: 30%;

}
