@page "/ciphers"

<h3>Ciphers</h3>
@foreach (string filePath in Directory.GetFiles(System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "Components/Pages/CipherPages")))
{
    FileInfo fI = new FileInfo(filePath);
    string c = fI.Name.Split('.')[0];    
    <NavLink href="@c">
        <div class="cipherLink">@c</div>
    </NavLink>

}

@code {

}
