@page "/ciphers"
@inject IJSRuntime JS

<h3>Ciphers</h3>
<img style="width:42%;height:44%;position:absolute;left:335px;top:202px;" src=" bkg.png" />
<div style="width:800px;height:400px;">    

    @{

        Node hill = new Node("Hill", null, null);
        Node nihilist = new Node("Nihilist", null, null);
        Node railfence = new Node("Railfence", null, null);
        Node polybius = new Node("Polybius", railfence, nihilist);
        Node vigenere = new Node("Vigenere", hill, null);
        Node substitution = new Node("Substitution", vigenere, polybius);
        Node affine = new Node("Affine", null, null);
        Node caesar = new Node("Caesar", affine, substitution);
        Node baconian = new Node("Baconian", caesar, null);
        int position = 50;
        int top = 30;

        void Display(Node startNode)
        {
            string link = startNode.cipher + "Page"; 
            <a href="@link"><p style="display:block;position:absolute;left:@position%;top:@top%;">@startNode.cipher</p></a>
            top += 10;
            if (startNode.LeftChild != null)
            {
                int num = 500 / top;

                position -= num;
                Display(startNode.LeftChild);
                position += num;
            }
            if (startNode.RightChild != null)
            {
                int num = 500 / top;
                position += num;
                Display(startNode.RightChild);
                position -= num;
            }

            top -= 10;
        }

        Display(baconian);
    }
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("hello");
        }
    }

}