@page "/NihilistPage"
@rendermode InteractiveServer

<h1>Nihilist</h1>

<div class="boxes">
    <div class="box">
        <p>Plaintext: </p>
        <textarea class="submission" @bind=plaintext @bind:event="oninput"></textarea>
    </div>
    <div class="box">
        <p>Ciphertext: </p>
        <textarea class="submission" @bind=ciphertext @bind:event="oninput"></textarea>
    </div>
    <div class="box">
        <p>Key (grid): </p>
        <textarea class="submission" @bind=gridKeyInput @bind:event="oninput"></textarea>
    </div>
    <div class="box">
        <p>Key: </p>
        <textarea class="submission" @bind=key @bind:event="oninput"></textarea>
    </div>

</div>
<p>@errors</p>
<button @onclick="encryptButton">ENCRYPT</button>
<button @onclick="decryptButton">DECRYPT</button>


@code {
    string errors = "";
    string plaintext = "";
    string gridKeyInput = "";
    string key = "";
    char[,] gridKey = new char[5, 5];
    string ciphertext = "";

    bool getkey()
    {
        errors = "";
        plaintext = plaintext.ToLower();
        ciphertext = ciphertext.ToLower();
        key = key.ToLower();
        gridKeyInput = gridKeyInput.ToLower();

        if(gridKeyInput.Length == 25)
        {
            for (int i = 0; i < 25; i++)
            {
                gridKey[i % 5, i / 5] = gridKeyInput[i];
            }
            return true;
        }
        errors = "The grid key must be 25 letters long, as in a 5x5 grid. It must be one string, with no spaces, commas or line breaks.";
        return false;

    }

    void encryptButton()
    {
        if(getkey())
        {
            ciphertext = Nihilist.Encrypt(plaintext, gridKey, key);
        }

    }

    void decryptButton()
    {
        if(getkey())
        {
            plaintext = Nihilist.Decrypt(ciphertext, gridKey, key);
        }
        
    }
}
