@page "/SubstitutionPage"
@rendermode InteractiveServer

<h1>Substitution Cipher</h1>


<div class = "boxes">
    <div class = "box">
        <p>Plaintext: </p>
        <textarea class="submission" @bind=plaintext @bind:event="oninput"></textarea>
    </div>
    <div class="box">
        <p>Ciphertext: </p>
        <textarea class="submission" @bind=ciphertext @bind:event="oninput"></textarea>
    </div>
    <div class="box">
        <p>Key</p>
        <textarea class="submission" @bind=key @bind:event="oninput"></textarea>
    </div>
</div>
<button @onclick="encryptButton">ENCRYPT</button>
<button @onclick="decryptButton">DECRYPT</button>
<br />
<br />


@code {
    string plaintext = "";
    string key = "";
    string ciphertext = "";
    Dictionary<char, char> encryptionMap;
    Dictionary<char, char> decryptionMap;

    void encryptButton()
    {
        plaintext = plaintext.ToLower();
        Substitution.getKey(key, ref encryptionMap, ref decryptionMap);
        ciphertext = Substitution.MapCharacters(plaintext, encryptionMap);
    }

    void decryptButton()
    {
        plaintext = plaintext.ToLower();
        Substitution.getKey(key, ref encryptionMap, ref decryptionMap);
        ciphertext = ciphertext.ToLower();
        plaintext = Substitution.MapCharacters(ciphertext, decryptionMap);
    }

}
