@page "/vigenerePage"
@rendermode InteractiveServer

<PageTitle>Vigenere</PageTitle>

<h1>Vigenere</h1>

<p>Plaintext: </p>
<textarea class="submission" @bind=plaintext @bind:event="oninput"></textarea>
<br>
<p>Ciphertext: </p>
<textarea class="submission" @bind=ciphertext @bind:event="oninput"></textarea>
<br>
<p>Enter key: </p>
<textarea class="submission" @bind=key @bind:event="oninput"></textarea>
<br />
<button @onclick="Encrypt">ENCRYPT</button>
<button @onclick="Decrypt">DECRYPT</button>
<button @onclick="calculateKeyLength">KEYLENGTH</button>
<br />

<p>@keyLength</p>

@code {
    string plaintext = "";
    string key = "";
    string ciphertext = "";
    int keyLength = 0;

    void Encrypt()
    {
        ciphertext = Vigenere.Encrypt(key, plaintext);
    }

    void Decrypt()
    {
        plaintext = Vigenere.Decrypt(key, ciphertext);
    }

    void calculateKeyLength()
    {
        keyLength = Vigenere.KeyLength(ciphertext);
    }

}
